.Header {
	display: flex;
	justify-content: space-around;
	height: 52px;
	align-items: center;
	font-size: 24px;
	color: white;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #CB573C;

}

.allGoods {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: flex-end;
}
.subCategoryContainer {
	text-align: center;
	cursor: pointer; /* 鼠标指针变成手型 */
}

.subCategoryContainer img {
	width: 90px;
	height: 90px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subCategoryContainer img:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
