.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;

    height: 40px;
    width: 96%;
    position: fixed;
    top: 0;

    background-color: rgb(65, 64, 64);
}

.main {
    margin-top: 50px;
}