html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 430px;
  height: 932px;
  max-width: 430px;
}

#root {
  width: 100%;
  height: 100%;
}


/* 定义全局的header样式 ，其余header可以使用此定义 */
.header {
  width: 430px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}