.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;

    background-image: url("https://s3.bmp.ovh/imgs/2024/06/09/161c7137ff441e61.jpg");
    background-size: cover;
    background-position: center;
}

.form-box {
    width: 400px;
    padding: 40px;
    background-color: #bcf4f185;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}